:root {
  --theme-main-color: rgb(204, 27, 14);
  --theme-off-color: rgb(55, 68, 89);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--theme-main-color);
  box-sizing: border-box;
}

.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--theme-off-color);
  min-height: 50px;
}

.navbar button {
  background-color: black;
  border-radius: 25px;
  width: 25%;
  padding: 5px;
  color: pink;
}

.navbar button:hover {
  background-color: var(--theme-main-color);
  border-radius: 25px;
  width: 25%;
  padding: 5px;
  color: white;
}

.container {
  box-sizing: border-box;
  display: flex;
  min-width: 250px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;

}

.footer-container {
  display: grid;
  height: 50px;
  width: 100%;
  background-color: var(--theme-off-color);
  grid-template-columns: 3fr 1fr;
}

.footer-info {
  text-align: center;
}

.footer-actions {
  display: flex;
  justify-content: space-evenly;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.create-container {
  border: 2px solid black;

}

.create-container-line {
  display: flex;
  margin: 2px;
  padding: 2px;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.app {
  padding: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(55, 68, 89);
  height: 50px;
}

.navbar button {
  background-color: black;
  border-radius: 25px;
  width: 25%;
  padding: 5px;
  color: pink;
}

.main-container {
  flex-grow: 1;
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dashboard {
  flex-direction: column;
  gap: 2rem;
}


.exercise-table {
  width: 80%;
  border: 3px solid green;
  padding: 5px;
}

.exercise-line {
  display: flex;
  min-width: 10rem;

}

.exercise-table-header {
  display: flex;
  margin-bottom: 10px;

}

.exercise-admin-actions {
  margin-left: 1rem;
  min-width: 4rem;
  align-self: right;
  display: flex;
  justify-content: space-evenly;
}

.exercise-data {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.my-account {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.my-workouts {
  margin-top: 1rem;
  

}

.my-workouts-title {
  background-color: var(--theme-off-color);
  color: var(--theme-main-color);
  text-align: center;
}

.my-workouts-container {
  border: 3px solid purple;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;

}

.my-workouts-box {
  padding: 0.5rem;
  min-width: 300px;
  background-color: var(--theme-off-color);
  color: var(--theme-main-color);
  display: flex;
  justify-content: space-between;
}


